<div class="flex justify-center pt-4">
    <div class="w-1/2 rounded-lg shadow p-4 space-y-5">
        <div class="flex flex-col space-y-4">
            <h1 class="text-2xl font-bold leading-tight">Add new recipe</h1>
        </div>
        <div>
            <form [formGroup]="formGroup" (submit)="saveRecipe()">
                <div class="space-y-4 flex flex-col">
                    <div class="flex flex-row justify-between space-x-5">
                        <p-floatlabel variant="on" class="w-full">
                            <input id="name" type="text" class="w-full" pInputText formControlName="name">
                            <label for="name">Name</label>
                        </p-floatlabel>
                        <p-floatlabel variant="on" class="w-full">
                            <input id="duration" type="text" class="w-full" pInputText formControlName="duration">
                            <label for="duration">Duration</label>
                        </p-floatlabel>
                    </div>
                    <div>
                        <p-table tableStyleClass="table-fixed" size="small" [value]="this.recipe().products">
                            <ng-template #caption>
                                <div class="flex flex-row justify-between">
                                    <span class="text-xl font-bold">Products</span>
                                </div>
                            </ng-template>
                            <ng-template #header>
                                <tr>
                                    @for (column of productColumns; track column) {
                                    <th class="flex-grow">{{column.caption}}</th>
                                    }
                                    <th class="w-12"></th>
                                </tr>
                            </ng-template>
                            <ng-template #body let-product let-rowIndex="rowIndex">
                                <tr class="min-h-10">
                                    @for (column of productColumns; track column) {
                                    <td class="flex-grow">
                                        {{displayValue(product, column.field)}}
                                    </td>
                                    }
                                    <td class="w-12 flex-shrink-0">
                                        <p-button type="button" icon="pi pi-pencil" variant="text"
                                            (click)="openRecipeProductPreview(product)"></p-button>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template #footer class="flex justify-center">
                                <tr>
                                    <td [attr.colspan]="productColumns.length + 1" class="border-none">
                                        <div class="flex justify-center max-w-full">
                                            <svg-icon src="assets\icons\plus-circle.svg" class="flex"
                                                (click)="openRecipeProductPreview(null)" pTooltip="Add new product"
                                                [svgStyle]="{'height.px': 40, 'width.px': 40, 'fill': '#b0b0b0'}"></svg-icon>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <div>
                        <p-table [value]="formGroup.controls.steps.controls" formArrayName="steps">
                            <ng-template #caption>
                                <div class="flex flex-row justify-between">
                                    <span class="text-xl font-bold">Steps</span>
                                </div>
                            </ng-template>
                            <ng-template #body let-step let-rowIndex="rowIndex">
                                <tr formGroupName="{{rowIndex}}" [pReorderableRow]="rowIndex">
                                    <td>
                                        <div class="flex gap-4">
                                            <div class="flex items-center">
                                                <span class="pi pi-bars" pReorderableRowHandle></span>
                                            </div>
                                            <div class="flex flex-col gap-2 w-full">
                                                <div>
                                                    <!-- <p-multiselect [options]="recipeProducts()"
                                                        formControlName="products" class="w-full" optionLabel="name"
                                                        display="chip" placeholder="Step products"></p-multiselect> -->
                                                </div>
                                                <div>
                                                    <p-floatLabel variant="on">
                                                        <!-- <textarea id="content-{{rowIndex}}" pTextarea rows="2"
                                                            class="w-full" formControlName="content"
                                                            [autoResize]="false" pSize="small"></textarea> -->
                                                        <label for="content-{{rowIndex}}">Content</label>
                                                    </p-floatLabel>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template #footer class="flex justify-center">
                                <tr>
                                    <td class="border-none">
                                        <div class="flex justify-center max-w-full">
                                            <svg-icon src="assets\icons\plus-circle.svg" class="flex"
                                                (click)="toggleAddStep($event)" pTooltip="Add new step"
                                                [svgStyle]="{'height.px': 40, 'width.px': 40, 'fill': '#b0b0b0'}"></svg-icon>
                                        </div>
                                    </td>
                                </tr>
                                <!-- <p-popover #addStepPopover>
                                    <div class="flex flex-col gap-2"
                                        [ngStyle]="{'max-width': '400px', 'width': '400px'}"
                                        [formGroup]="recipeStepFormGroup">
                                        <p-floatLabel variant="on" class="w-full">
                                            <p-multiselect [options]="recipeProducts()" formControlName="products"
                                                class="w-full" optionLabel="name" display="chip"></p-multiselect>
                                            <label for="add-product-input">Products</label>
                                        </p-floatLabel>
                                        <p-floatLabel variant="on" class="w-full">
                                            <textarea id="add-step-content" pTextarea rows="2" class="w-full"
                                                formControlName="content" [autoResize]="false" pSize="small"></textarea>
                                            <label for="add-step-content">Content</label>
                                        </p-floatLabel>
                                        <p-floatlabel variant="on" class="w-full">
                                            <input id="duration" type="text" class="w-full" pInputText
                                                formControlName="duration">
                                            <label for="duration">Duration</label>
                                        </p-floatlabel>
                                        <div class="flex justify-end">
                                            <p-button (click)="addNewStep()">Save</p-button>
                                        </div>
                                    </div>
                                </p-popover> -->
                            </ng-template>
                        </p-table>
                    </div>
                    <div class="flex items-end">
                        <p-button id="save" type="submit">Save</p-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<p-drawer header="Right drawer" [(visible)]="toggleProductPanel" position="right" dismissible="true"
    styleClass="w-full md:w-80 lg:w-[30rem]">
    <mc-recipe-product [product]="selectedProduct()" (cancel)="toggleProductPanel.set(false)" (save)="onRecipeProductSave($event)"></mc-recipe-product>
</p-drawer>