<div class="flex justify-center pt-4">
    <div class="w-1/2 rounded-lg shadow p-4 space-y-5">
        <div class="flex flex-col space-y-4">
            <h1 class="text-2xl font-bold leading-tight">Add new product</h1>
        </div>
        <div>
            <form [formGroup]="formGroup" (submit)="add()">
                <div class="space-y-4 flex flex-col">
                    <div class="flex flex-row justify-between space-x-5">
                        <p-floatlabel variant="on" class="w-full">
                            <input id="name" type="text" class="w-full" pInputText formControlName="name">
                            <label for="name">Name</label>
                        </p-floatlabel>
                        <p-floatlabel variant="on" class="w-full">
                            <input id="producent" type="text" class="w-full" pInputText formControlName="producent">
                            <label for="producent">Producent</label>
                        </p-floatlabel>
                    </div>
                    <div class="flex items-end">
                        <p-button id="save" type="submit">Save</p-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>