<nav class="bg-gray-100">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <button>nkajndksa</button>
            </div>
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex flex-shrink-0 items-center">
                    <button class="h-8 w-auto">kappa</button>
                </div>
                <div class="hidden sm:ml-6 sm:block">
                    <div class="flex space-x-4">
                        <a href="#">ajhksbdjkas</a>
                        <a href="#">ajhksbdjkas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>