<div
  class="flex flex-col items-center md:h-[calc(100vh-64px)] justify-center px-6 py-8 mx-auto lg:py-0"
>
  <div
    class="w-full rounded-lg shadow mb-6 dark:border md:mt-0 sm:max-w-md xl:p-0"
  >
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
      <div class="space-y-4 text-center">
        <h2
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-5xl text-center"
        >
          Reset password
        </h2>
      </div>
      <form class="space-y-4 md:space-y-6" (submit)="onSubmit($event)">
        <div>
          <label
            for="password"
            class="block mb-2 text-base font-medium text-gray-900"
            >Password</label
          >
          <input
            type="password"
            id="password"
            placeholder="•••••••"
            [formField]="signalForm.password"
            [ngClass]="{
              'invalid:border-red-600 invalid:placeholder:text-red-600 invalid:text-red-600':
                signalForm.password().touched(),
            }"
            class="border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
          />
          @if (
            signalForm.password().errors().length > 0 &&
            signalForm.password().touched()
          ) {
            <mc-error id="passwordErrorMessage">{{
              signalForm.password().errors()[0].message
            }}</mc-error>
          }
        </div>
        <div>
          <label
            for="confirmPassword"
            class="block mb-2 text-base font-medium text-gray-900"
            >Confirm Password</label
          >
          <input
            type="password"
            id="confirmPassword"
            placeholder="•••••••"
            [formField]="signalForm.confirmPassword"
            [ngClass]="{
              'invalid:border-red-600 invalid:placeholder:text-red-600 invalid:text-red-600':
                signalForm.confirmPassword().touched(),
            }"
            class="border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
          />
          @if (
            signalForm.confirmPassword().errors().length > 0 &&
            signalForm.confirmPassword().touched()
          ) {
            <mc-error id="confirmPasswordErrorMessage">{{
              signalForm.confirmPassword().errors()[0].message
            }}</mc-error>
          }
        </div>
        <div class="items-center justify-center flex">
          <button
            type="submit"
            class="h-12 w-full rounded-lg bg-light-orange-900 px-3 py-2 text-center font-medium text-lg hover:bg-light-orange-600"
          >
            Reset password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
