<div class="relative ml-3">
    <div tabindex="0" class="flex" mcDropdownToggle connectedElementId="{{dropdownSettings.id}}">
        <button type="button"
            class="relative flex rounded-full bg-light-orange-100 text-sm focus:outline-none focus:ring-2 focus:ring-light-orange-600 focus:ring-offset-2 focus:ring-offsetlight-orange-600"
            id="user-menu-button" aria-expanded="true" aria-haspopup="true">
            <span class="absolute -inset-1.5"></span>
            <span class="sr-only">Open user menu</span>
            @if (!!dropdownSettings.iconSrc) {
            <img class="h-8 w-8 rounded-full" src="{{dropdownSettings.iconSrc}}" alt="">
            }
        </button>
        @if (!!dropdownSettings.mainText) {
        <div class="ml-3 py-1 justify-center items-center font-medium sm:hidden">{{dropdownSettings.mainText}}</div>
        }
    </div>

    <div id="{{dropdownSettings.id}}"
        class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 invisible"
        role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
        @for (item of dropdownList; track item.name) {
        <a href="{{item.linkDestination}}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-light-orange-100" role="menuitem"
            tabindex="-1" id="user-menu-item-{{$index}}" (click)="item.action()">{{item.name}}</a>
        }
    </div>
</div>